<div class="col-sm-6 chat-area well">
  <div class="chat-msgs">
    <%#<p class="bot-msg">Hello! I am a bot</p>
    <p class="user-msg">Alright Thanks</p>
    <p class="bot-msg">Hello! I am a bot</p>
    <p class="user-msg">Alright Thanks</p>
    <p class="bot-msg">Hello! I am a bot</p>
    <p class="user-msg">Alright Thanks</p>
    <p class="bot-msg">Hello! I am a bot</p>
    <p class="user-msg">Alright Thanks</p>
    <p class="bot-msg">Hello! I am a bot</p>
    <p class="user-msg">Alright Thanks</p>
    <p class="bot-msg">Hello! I am a bot</p>
    <p class="user-msg">Alright Thanks</p>
    <p class="bot-msg">Hello! I am a bot</p>
    <p class="user-msg">Alright Thanks</p>
    <p class="bot-msg">Hello! I am a bot</p>
    <p class="user-msg">Alright Thanks</p>
    <p class="bot-msg">Hello! I am a bot</p>
    <p class="user-msg">Alright Thanks</p>%>
  </div>
  <div class="form-group text-area-wrapper">
    <textarea class="form-control msg-input"></textarea>
  </div>
</div>
