<div class="container page">
  <%= render("layouts/header") %>

  <div class="row content">
    <%= render("chat_area") %>
    <div class="col-sm-6 pic-display">
      <img src=<%= asset_path("Latest-News.jpg") %> class="img-responsive" />
    </div>
  </div>
</div>
